.blog-detail-blog-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.blog-detail-blog-blog-detail-blog {
  width: 100%;
  height: 7938px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.blog-detail-blog-footer {
  gap: 64px;
  top: 7851.85986328125px;
  left: 24.067415237426758px;
  width: 1440px;
  display: flex;
  padding: 30px 0;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.blog-detail-blog-container1 {
  gap: 14px;
  width: 1216px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-detail-blog-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-menu {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
.blog-detail-blog-text002 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text004 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text006 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text008 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text010 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-section {
  gap: 64px;
  top: 133px;
  left: 80px;
  width: 891px;
  height: 7574px;
  display: flex;
  padding: 30px 0;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.blog-detail-blog-container2 {
  gap: 32px;
  width: 902px;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.blog-detail-blog-content {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-detail-blog-blogpostcard {
  gap: 32px;
  width: 838px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.blog-detail-blog-text012 {
  color: rgba(255, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.blog-detail-blog-headingandicon {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-detail-blog-text014 {
  color: rgba(255, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-image {
  width: 838px;
  height: 426px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
.blog-detail-blog-content1 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-detail-blog-text016 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.blog-detail-blog-text017 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.blog-detail-blog-text019 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.blog-detail-blog-text021 {
  color: rgba(26, 26, 26, 1);
  width: 567px;
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-image01 {
  width: 778px;
  height: 558px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-detail-blog-image02 {
  top: 0px;
  left: 0px;
  width: 778px;
  height: 498px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
}
.blog-detail-blog-text023 {
  top: 510px;
  left: 105.5px;
  color: rgba(26, 26, 26, 1);
  width: 567px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text025 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.blog-detail-blog-text027 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.blog-detail-blog-text029 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.blog-detail-blog-text031 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.blog-detail-blog-text033 {
  color: rgba(255, 0, 0, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text035 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.blog-detail-blog-text037 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text038 {
  font-weight: 700;
}
.blog-detail-blog-text039 {
  font-weight: 500;
}
.blog-detail-blog-text041 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text042 {
  font-weight: 700;
}
.blog-detail-blog-image03 {
  width: 778px;
  height: 486px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-detail-blog-image04 {
  top: 0px;
  left: 0px;
  width: 778px;
  height: 426px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
}
.blog-detail-blog-text044 {
  top: 438px;
  left: 105.5px;
  color: rgba(26, 26, 26, 1);
  width: 567px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text046 {
  color: rgba(255, 0, 0, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text048 {
  color: rgba(255, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text050 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text051 {
  text-decoration: NONE;
}
.blog-detail-blog-text052 {
  text-decoration: UNDERLINE;
}
.blog-detail-blog-image05 {
  width: 778px;
  height: 510px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-detail-blog-image06 {
  top: 0px;
  left: 0px;
  width: 778px;
  height: 426px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
}
.blog-detail-blog-text054 {
  top: 438px;
  left: 105.5px;
  color: rgba(26, 26, 26, 1);
  width: 567px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text056 {
  color: rgba(255, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text058 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text059 {
  text-decoration: NONE;
}
.blog-detail-blog-text060 {
  text-decoration: UNDERLINE;
}
.blog-detail-blog-image07 {
  width: 778px;
  height: 486px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-detail-blog-image08 {
  top: 0px;
  left: 0px;
  width: 778px;
  height: 426px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
}
.blog-detail-blog-text062 {
  top: 438px;
  left: 105.5px;
  color: rgba(26, 26, 26, 1);
  width: 567px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text064 {
  color: rgba(255, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text066 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text067 {
  text-decoration: NONE;
}
.blog-detail-blog-text068 {
  text-decoration: UNDERLINE;
}
.blog-detail-blog-image09 {
  width: 778px;
  height: 510px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-detail-blog-image10 {
  top: 0px;
  left: 0px;
  width: 778px;
  height: 426px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
}
.blog-detail-blog-text070 {
  top: 438px;
  left: 105.5px;
  color: rgba(26, 26, 26, 1);
  width: 567px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text072 {
  color: rgba(255, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text074 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text075 {
  text-decoration: NONE;
}
.blog-detail-blog-text076 {
  text-decoration: UNDERLINE;
}
.blog-detail-blog-image11 {
  width: 778px;
  height: 510px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-detail-blog-image12 {
  top: 0px;
  left: 0px;
  width: 778px;
  height: 426px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
}
.blog-detail-blog-text078 {
  top: 438px;
  left: 105.5px;
  color: rgba(26, 26, 26, 1);
  width: 567px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text080 {
  color: rgba(255, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text082 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text083 {
  text-decoration: NONE;
}
.blog-detail-blog-text091 {
  text-decoration: UNDERLINE;
}
.blog-detail-blog-image13 {
  width: 778px;
  height: 486px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-detail-blog-image14 {
  top: 0px;
  left: 0px;
  width: 778px;
  height: 426px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
}
.blog-detail-blog-text093 {
  top: 438px;
  left: 105.5px;
  color: rgba(26, 26, 26, 1);
  width: 567px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text095 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text097 {
  color: rgba(255, 0, 0, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text099 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text101 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text102 {
  font-weight: 700;
}
.blog-detail-blog-text104 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text105 {
  font-weight: 700;
}
.blog-detail-blog-image15 {
  width: 778px;
  height: 486px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-detail-blog-image16 {
  top: 0px;
  left: 0px;
  width: 778px;
  height: 426px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
}
.blog-detail-blog-text107 {
  top: 438px;
  left: 105.5px;
  color: rgba(26, 26, 26, 1);
  width: 567px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text109 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text110 {
  font-weight: 700;
}
.blog-detail-blog-image17 {
  width: 778px;
  height: 486px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-detail-blog-image18 {
  top: 0px;
  left: 0px;
  width: 778px;
  height: 426px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
}
.blog-detail-blog-text112 {
  top: 438px;
  left: 105.5px;
  color: rgba(26, 26, 26, 1);
  width: 567px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text114 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text115 {
  font-weight: 700;
}
.blog-detail-blog-text117 {
  color: rgba(255, 0, 0, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-text119 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-categories {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-detail-blog-badge {
  display: flex;
  align-items: flex-start;
}
.blog-detail-blog-frame-badgebase {
  display: flex;
  padding: 2px 10px;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
  background-color: rgba(249, 245, 255, 1);
}
.blog-detail-blog-text121 {
  color: rgba(104, 64, 198, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.blog-detail-blog-badge1 {
  display: flex;
  align-items: flex-start;
}
.blog-detail-blog-frame-badgebase1 {
  display: flex;
  padding: 2px 10px;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
  background-color: rgba(253, 241, 249, 1);
}
.blog-detail-blog-text123 {
  color: rgba(192, 21, 115, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.blog-detail-blog-header {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 1440px;
  display: flex;
  padding: 30px 112px;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.blog-detail-blog-navbar {
  gap: 14px;
  width: 1216px;
  display: flex;
  padding: 10px 0;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.blog-detail-blog-text125 {
  color: rgba(255, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-menu1 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
.blog-detail-blog-blog {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
}
.blog-detail-blog-text127 {
  color: rgba(255, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-projects {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
}
.blog-detail-blog-text129 {
  color: rgba(255, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-about {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
}
.blog-detail-blog-text131 {
  color: rgba(255, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-detail-blog-newsletter {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
}
.blog-detail-blog-text133 {
  color: rgba(255, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
