.newsletter-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .newsletter-newsletter {
    width: 100%;
    height: 1133px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 1);
  }
  .newsletter-footer {
    gap: 64px;
    top: 1049px;
    left: 0px;
    width: 1440px;
    display: flex;
    padding: 30px 0;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
  }
  .newsletter-container1 {
    gap: 14px;
    width: 1216px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .newsletter-text {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .newsletter-menu {
    gap: 14px;
    display: flex;
    align-items: flex-start;
  }
  .newsletter-text02 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .newsletter-text04 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .newsletter-text06 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .newsletter-text08 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .newsletter-text10 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .newsletter-section {
    gap: 64px;
    top: 125px;
    left: 0px;
    width: 1440px;
    display: flex;
    padding: 30px 0;
    position: absolute;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
  }
  .newsletter-container2 {
    gap: 32px;
    width: 1433px;
    display: flex;
    padding: 0 32px;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .newsletter-content {
    gap: 40px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
  }
  .newsletter-headingandsupportingtext {
    gap: 24px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
  }
  .newsletter-headingandsubheading {
    gap: 12px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .newsletter-text12 {
    color: var(--dl-color-primary-600);
    height: auto;
    align-self: stretch;
    text-align: center;
    line-height: 24px;
  }
  .newsletter-text14 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    align-self: stretch;
    text-align: center;
    line-height: 60px;
  }
  .newsletter-text16 {
    color: rgba(0, 0, 0, 1);
    width: 768px;
    height: auto;
    text-align: center;
    line-height: 30px;
  }
  .newsletter-emailcapture {
    gap: 16px;
    display: flex;
    align-items: flex-start;
  }
  .newsletter-inputfield {
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .newsletter-frame-inputfieldbase {
    gap: 8px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .newsletter-inputwithlabel {
    gap: 6px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .newsletter-input {
    gap: 8px;
    display: flex;
    padding: 12px 14px 12px 16px;
    overflow: hidden;
    align-self: stretch;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(207, 212, 220, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color: var(--dl-color-default-white);
  }
  .newsletter-content1 {
    gap: 8px;
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
  .newsletter-text18 {
    color: var(--dl-color-gray-500);
    height: auto;
    flex-grow: 1;
    text-align: left;
    line-height: 24px;
  }
  .newsletter-text20 {
    color: rgba(192, 197, 208, 1);
    height: auto;
    font-size: 14px;
    align-self: stretch;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
  }
  .newsletter-text21 {
    text-decoration: NONE;
  }
  .newsletter-button {
    display: flex;
    align-items: flex-start;
    border-radius: 8px;
  }
  .newsletter-frame-buttonbase {
    gap: 8px;
    display: flex;
    padding: 12px 20px;
    overflow: hidden;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
    align-items: center;
    border-color: rgba(126, 86, 216, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    background-color: var(--dl-color-primary-600);
  }
  .newsletter-text23 {
    color: var(--dl-color-default-white);
    height: auto;
    text-align: left;
    line-height: 24px;
  }
  .newsletter-section1 {
    gap: 64px;
    top: 481px;
    left: 0px;
    width: 1440px;
    display: flex;
    padding: 30px 0;
    position: absolute;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
  }
  .newsletter-container3 {
    gap: 30px;
    width: 1280px;
    display: flex;
    padding: 0 32px;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .newsletter-headingandcontent {
    gap: 32px;
    width: 1216px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .newsletter-text25 {
    color: rgba(0, 0, 0, 0);
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: 32px;
  }
  .newsletter-content2 {
    gap: 48px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .newsletter-row {
    gap: 32px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: center;
  }
  .newsletter-blogpostcard {
    gap: 32px;
    width: 384px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .newsletter-image {
    width: 384px;
    height: 240px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
  }
  .newsletter-content3 {
    gap: 24px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .newsletter-headingandtext {
    gap: 12px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .newsletter-text27 {
    color: rgba(104, 64, 198, 1);
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: 20px;
  }
  .newsletter-headingandicon {
    gap: 16px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .newsletter-text29 {
    color: rgba(0, 0, 0, 0);
    height: auto;
    flex-grow: 1;
    text-align: left;
    line-height: 32px;
  }
  .newsletter-iconwrap {
    display: flex;
    padding: 4px 0 0;
    align-items: flex-start;
    flex-direction: column;
  }
  .newsletter-arrowupright {
    width: 24px;
    height: 24px;
  }
  .newsletter-text31 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: 24px;
  }
  .newsletter-categories {
    gap: 8px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .newsletter-badge {
    display: flex;
    align-items: flex-start;
  }
  .newsletter-frame-badgebase {
    display: flex;
    padding: 2px 10px;
    align-items: center;
    border-radius: 16px;
    justify-content: center;
    background-color: rgba(249, 245, 255, 1);
  }
  .newsletter-text33 {
    color: rgba(104, 64, 198, 1);
    height: auto;
    text-align: center;
    line-height: 20px;
  }
  .newsletter-badge1 {
    display: flex;
    align-items: flex-start;
  }
  .newsletter-frame-badgebase1 {
    display: flex;
    padding: 2px 10px;
    align-items: center;
    border-radius: 16px;
    justify-content: center;
    background-color: rgba(248, 248, 251, 1);
  }
  .newsletter-text35 {
    color: rgba(53, 62, 114, 1);
    height: auto;
    text-align: center;
    line-height: 20px;
  }
  .newsletter-badge2 {
    display: flex;
    align-items: flex-start;
  }
  .newsletter-frame-badgebase2 {
    display: flex;
    padding: 2px 10px;
    align-items: center;
    border-radius: 16px;
    justify-content: center;
    background-color: var(--dl-color-pink-50);
  }
  .newsletter-text37 {
    color: var(--dl-color-pink-700);
    height: auto;
    text-align: center;
    line-height: 20px;
  }
  .newsletter-blogpostcard1 {
    gap: 32px;
    width: 384px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .newsletter-image1 {
    width: 384px;
    height: 240px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
  }
  .newsletter-content4 {
    gap: 24px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .newsletter-headingandtext1 {
    gap: 12px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .newsletter-text39 {
    color: rgba(104, 64, 198, 1);
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: 20px;
  }
  .newsletter-headingandicon1 {
    gap: 16px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .newsletter-text41 {
    color: rgba(0, 0, 0, 0);
    height: auto;
    flex-grow: 1;
    text-align: left;
    line-height: 32px;
  }
  .newsletter-iconwrap1 {
    display: flex;
    padding: 4px 0 0;
    align-items: flex-start;
    flex-direction: column;
  }
  .newsletter-arrowupright1 {
    width: 24px;
    height: 24px;
  }
  .newsletter-text43 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: 24px;
  }
  .newsletter-categories1 {
    gap: 8px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .newsletter-badge3 {
    display: flex;
    align-items: flex-start;
  }
  .newsletter-frame-badgebase3 {
    display: flex;
    padding: 2px 10px;
    align-items: center;
    border-radius: 16px;
    justify-content: center;
    background-color: rgba(240, 249, 255, 1);
  }
  .newsletter-text45 {
    color: rgba(1, 106, 162, 1);
    height: auto;
    text-align: center;
    line-height: 20px;
  }
  .newsletter-badge4 {
    display: flex;
    align-items: flex-start;
  }
  .newsletter-frame-badgebase4 {
    display: flex;
    padding: 2px 10px;
    align-items: center;
    border-radius: 16px;
    justify-content: center;
    background-color: rgba(238, 243, 255, 1);
  }
  .newsletter-text47 {
    color: rgba(53, 55, 204, 1);
    height: auto;
    text-align: center;
    line-height: 20px;
  }
  .newsletter-badge5 {
    display: flex;
    align-items: flex-start;
  }
  .newsletter-frame-badgebase5 {
    display: flex;
    padding: 2px 10px;
    align-items: center;
    border-radius: 16px;
    justify-content: center;
    background-color: rgba(255, 245, 237, 1);
  }
  .newsletter-text49 {
    color: rgba(195, 50, 10, 1);
    height: auto;
    text-align: center;
    line-height: 20px;
  }
  .newsletter-blogpostcard2 {
    gap: 32px;
    width: 384px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .newsletter-image2 {
    width: 384px;
    height: 240px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
  }
  .newsletter-content5 {
    gap: 24px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .newsletter-headingandtext2 {
    gap: 12px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .newsletter-text51 {
    color: rgba(104, 64, 198, 1);
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: 20px;
  }
  .newsletter-headingandicon2 {
    gap: 16px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .newsletter-text53 {
    color: rgba(0, 0, 0, 0);
    height: auto;
    flex-grow: 1;
    text-align: left;
    line-height: 32px;
  }
  .newsletter-iconwrap2 {
    display: flex;
    padding: 4px 0 0;
    align-items: flex-start;
    flex-direction: column;
  }
  .newsletter-arrowupright2 {
    width: 24px;
    height: 24px;
  }
  .newsletter-text55 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: 24px;
  }
  .newsletter-categories2 {
    gap: 8px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .newsletter-badge6 {
    display: flex;
    align-items: flex-start;
  }
  .newsletter-frame-badgebase6 {
    display: flex;
    padding: 2px 10px;
    align-items: center;
    border-radius: 16px;
    justify-content: center;
    background-color: rgba(249, 245, 255, 1);
  }
  .newsletter-text57 {
    color: rgba(104, 64, 198, 1);
    height: auto;
    text-align: center;
    line-height: 20px;
  }
  .newsletter-badge7 {
    display: flex;
    align-items: flex-start;
  }
  .newsletter-frame-badgebase7 {
    display: flex;
    padding: 2px 10px;
    align-items: center;
    border-radius: 16px;
    justify-content: center;
    background-color: rgba(238, 243, 255, 1);
  }
  .newsletter-text59 {
    color: rgba(53, 55, 204, 1);
    height: auto;
    text-align: center;
    line-height: 20px;
  }
  .newsletter-badge8 {
    display: flex;
    align-items: flex-start;
  }
  .newsletter-frame-badgebase8 {
    display: flex;
    padding: 2px 10px;
    align-items: center;
    border-radius: 16px;
    justify-content: center;
    background-color: var(--dl-color-pink-50);
  }
  .newsletter-text61 {
    color: var(--dl-color-pink-700);
    height: auto;
    text-align: center;
    line-height: 20px;
  }
  .newsletter-header {
    gap: 10px;
    top: -30px;
    left: -122px;
    width: 1664px;
    display: flex;
    padding: 30px 112px;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
  }
  .newsletter-header1 {
    gap: 10px;
    display: flex;
    padding: 30px 112px;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
  }
  .newsletter-navbar {
    gap: 14px;
    width: 1216px;
    display: flex;
    padding: 10px 0;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
  }
  .newsletter-text63 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 20px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .newsletter-menu1 {
    gap: 14px;
    display: flex;
    align-items: flex-start;
  }
  .newsletter-blog {
    gap: 10px;
    display: flex;
    padding: 8px;
    align-items: flex-start;
  }
  .newsletter-text65 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .newsletter-projects {
    gap: 10px;
    display: flex;
    padding: 8px;
    align-items: flex-start;
  }
  .newsletter-frame1000000804 {
    gap: 10px;
    display: flex;
    padding: 0 0 5px;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 0 0 1px;
  }
  .newsletter-text67 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .newsletter-about {
    gap: 10px;
    display: flex;
    padding: 8px;
    align-items: flex-start;
  }
  .newsletter-text69 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .newsletter-newsletter1 {
    gap: 10px;
    display: flex;
    padding: 8px;
    align-items: flex-start;
  }
  .newsletter-text71 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 20px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  